Aula_4_Testes_de_Hipoteses/MATERIAL ALCEU - TESTES DE HIPÓTESES (4).pdf
Clusters/Clusters-Cesar-Aula01.pdf
analise_fatorial/Fatorial_Teoria_2018.pdf
aula_2/Aula 2 - ANALISE DADOS E PROBABILIDADES.pdf
Aula_4_Testes_de_Hipoteses/Aula 4 - Testes de Hipóteses - amostras.ods
.Rproj.user
Regressao/Aula 9/Regression Parte II - Heterosc e Formas.pdf
Regressao/Aula 9/_Modulo2_Resultados.pdf
Regressao/Aula 9/WAGE1-Kayo.dta
Regressao/Aula 9/HPRICE2-Kayo.dta
Regressao/Aula 9/HPRICE1-Kayo.dta
Regressao/Aula 10/Regression Parte III - Painel.pdf
Regressao/Aula 10/_Modulo3_Resultados.pdf
Regressao/Aula 10/WAGEPAN-Kayo.dta
Regressao/Aula 10/WAGEPAN.rda
Regressao/Aula 10/CRIME2-Kayo.dta
Regressao/Aula 10/CRIME2.rda
Rplots.pdf
Regressao/Aula 10/GRUNFELD.rda
Regressao/Aula 10/ExercicioConsolidado/INVEST.dta
*.txt
*.csv
*.zip
*.pdf


*.sql
*.bak
*.mwb
*.pptx