Aula_4_Testes_de_Hipoteses/MATERIAL ALCEU - TESTES DE HIPÓTESES (4).pdf
Clusters/Clusters-Cesar-Aula01.pdf
analise_fatorial/Fatorial_Teoria_2018.pdf
aula_2/Aula 2 - ANALISE DADOS E PROBABILIDADES.pdf
Aula_4_Testes_de_Hipoteses/Aula 4 - Testes de Hipóteses - amostras.ods
